@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,800");

* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

p,
div,
span,
button,
li {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  color:#2c2e3e;
}
a{
  color:inherit;
  text-decoration: none;
}
a:hover, .active{
  font-weight: bold;
  color:#ef6461;
}
ul {
  list-style-type: none;
}

/* //reusable CSS */

.hero {
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_text {
  padding: 5em;
  align-self: center;
}
.hero_text h1, .hero_text p{
  text-align: left;
}
.hero_text h1{
  font-size: 3em;
}

.orange_button {
  border-radius: 5px;
  background-color: #ef6461;
  color: white;
  margin: 1em 0;
  padding: 0.7em 2em;
  border: none;
  font-weight: 700;
  display: block;
}
.link {
  color: #ef6461;
  font-size: 0.8em;
}
.width100 {
  width: 100%;
}

.wrapper_2_columns {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.wrapper_3_columns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.wrapper_3_3_1{
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}

.wrapper_4_columns {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

.wrapper_columns_2_4_2 {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.wrapper_rows_2_4_2 {
  display: grid;
  grid-template-rows: 2fr 4fr 2fr;
}

.wrapper_3_columns {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
.backgroundWhite {
  background-color: white;
}

.overflow {
  overflow: hidden;
}

.textPadding {
  padding: 5em;
}
.section_title,.sub_title,.header{
  text-align: center;
}
.section_title{
  padding: 2em 0 0;
  grid-column: 1/-1;
  margin:0;
}
.sub_title{
  font-weight: 100;
  margin:.2em auto;
  width:50%;
  font-size: 1.1em;
}
.header{
  margin:2em 0;
  grid-column:1/-1;
}

.title {
  text-align: center;
}

.paddingTop3 {
  padding-top: 3em;
}

.width30 {
  width: 30%;
}

.padding3em {
  padding: 3em;
}

.widthHeight100 {
  width: 100%;
  height: 100%;
}
.viewheight {
  max-height: 100vh;
  padding: 5% 0;
}
.backgroundColor {
  background-color: #f4f5f8;
}

.halfImg{
  width: 130%;
  overflow-x: hidden;
}

.imgStyle{
  width:100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.hero_laptop{
  width: 100%;
  align-self: center;
  }
/* //reusable CSS ends */

/*  HEADER  */
header {
  width: 100%;
  background-color: white;
  color: #2c2e3e;
  position: fixed;
  z-index: 30;
  top:0;
}

header li {
  display: inline;
  padding: 1em;
}

.logo {
  width: 40%;
  padding: 1em;
}


/* FRONTPAGE */
#hero {
  height: 90%;
  background-image: url("img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#cons,
#platform {
  height: 100%;
}



.rowsHeight {
  height: 75%;
}

.another_color {
  background-color: #f4f5f8;
  color: #2c2e3e;
}

.wrapper_4_columns img {
  width: 25%;
}

.icon {
  padding: 2em;
  text-align: center;
}

.absolute {
  position: absolute;
  right: 0;
  width: 50%;
  padding-top: 5%;
}
.speech-bubble {
  background: #fff;
  position: relative;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 10px;
}

.arrow:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -9px;
  left: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}
.grow {
  animation: grow 0.3s ease forwards;
  z-index: 1;
  transition: all 0.3s;
}
@keyframes grow {
  100% {
    transform: scale(1.3);
  }
}
#arch_projects, #section_why{
  position: relative;
  margin:2em 0;
}
.box{
  background-color:#f4f5f8;
  width:70%;
  height:200px;
  margin:auto;
  border-radius: 10px;
  padding: 2% 0 0;
}
.bubbles{
  width:70%;
  text-align: center;
  position: absolute;
}

.click_text{
  width:50%;
  margin: 7em auto;
}
.click_text> .title{
  margin:0;
}
.items {
  width: 150px;
  height: 150px;
  display: inline-block;
  /* z-index: 20; */
  background-color: white;
  text-align: center;
}
.items > img, .items>svg{
  width:30%;
  margin:1em;
}
.items > h3 {
  font-size: 1em;
  margin: 0;
}

.ontop {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 6% 0 5% 0;
}

footer {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 4fr;
}

li {
  display: inline;
}

.sectionItem {
  width: 60%;
  height: 60%;
  border: 2px solid grey;
}

.users {
  background-color: white;
  justify-self: end;
  background-image: url("img/icons/dimension.svg");
  background-repeat: no-repeat;
}

.architects {
  background-image: url("img/icons/compass.svg");
  background-repeat: no-repeat;
}

.caruselle {
  background-color: white;
  /* width: 70%; */
  height: 60%;
  text-align: center;
}

.clients {
  height: 80%;
}

#blogPosts {
  width: 100%;
  height: 70%;
}

#posts {
  text-align: center;
}

/* PLATFORM PAGE  */

#hero_platform {
  background-image: url(img/hero_platform.png);
}

/*   platform timeline */
.timeline {
  position: relative;
}
.right h2 {
  text-align: left;
}

.left {
  left: 0;
}
.right {
  left: 50%;
}
.left h2,
.left p {
  text-align: right;
}
.container {
  padding: 0 40px;
  position: relative;
  width: 50%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #ef6461;
  top: 0;
  bottom: 0;
  right: 50%;
  margin-left: -3px;
}
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -22.5px;
  background-color: blue;
  border: 10px solid white;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}
.right::after {
  left: -22.5px;
}

/*   Part two of Platform */

.pros {
  position: relative;
  margin: 2em 2em;
  padding: 5em 2em 0;
  border-radius: 10px;
  height: 50%;
  text-align: center;
}
.fill {
  grid-column: 1/-1;
}
.pros > div button {
  margin: 1em auto;
}
.pros > img {
  margin: -2em 0 0 -3em;
}
.wrapper_pro {
  position: absolute;
  bottom:-4em;
  right:0;
  width: 50%;
}
.pro{
  text-align:left;
}
.pro > h3 {
  margin: 0;
  display: inline-block;
}
.pro > a {
  display: block;
  margin-left:2em;
}
.pro>svg{
  display: inline-block;
  width:8%;
  vertical-align: middle;
  fill:#ef6461;
}

/*  Section three platform place */
.network {
  margin: 2em;
}
.network > .halfImg {
  margin-left: -10em;
}
.text {
  margin-right: 5em;
}
.text > button {
  margin: 5em 0;
}

/* ARCHITECT PAGE */
#hero_architects {
  background-image: url(img/hero_arch.png);
}

#stop_firing{
  margin:0 2em;
}
#stop_firing img {
  justify-self: center;
  width:auto;
}
#stop_firing > .wrapper_2_columns > div {
  margin: 2em;
}

#pros_icons{
  margin:2% auto;
  width:60%;
  grid-gap:1em;
}
 .icon_item{
   margin:auto;
 }
 .icon_item>div>img{
   width: 3em;
 }
 .icon_item>div>h3{
   display: inline;
   margin:0;
   align-self: end;
 }
 .text_left{
   margin: 2em 2em 0 5em;
 }
 .text_left> button{
   margin:3em 0;
 }
#cons p,
#cons h3 {
  color: grey;
}

.padding3em h3 {
  color: #ef6461;
}

.ontop svg {
  width: 35%;
}

/*   ABOUT PAGE  */
#about_us{
  margin:5%;
  position: relative;
  top:70px;
}
#our_team img{
  display: block;
width: 100%;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,.3);
}
 #our_team .wrapper_3_columns{
   margin: 2% 20% 0;
   grid-gap:2%;
 }

 #mission{
   height: 50vh;
   margin:-5% 0 2%;
   padding: 10% 5% 0;
 }
 #mission .long_text{
  grid-column: 1/3;
  margin-left: 35%;
 }

 #more_about, #last_about{
   margin:2% 10% 5%;
 }
 .long_text{
   text-align: left;
   margin:2% 5%;
 }
 
.hover_wrapper{
  position: relative;
  transition:all 5s;
}
.hover_content{
  border-radius: 10px;
  opacity:0;
  position:absolute;
  top:0;
  bottom:5px;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .5);
  color:white;
  padding:5%;
  transition: opacity .5s ease;
}
 

.hover_wrapper:hover  .hover_content{
  opacity: 1;
}
.hover_content>h3{
  margin:70% 0 0;
}
.hover_content>p{
  margin:1% 0;
}

#map{
  height:50vh;
  width:50vh;
  background-color:red;
  justify-self: center;
}

#contact{
  margin:2% 10%;
}
#contact_form{
  width:60%;
  height:40%;
 grid-gap:5%;
 margin:5%;
 margin:auto;
 grid-template-rows: .5fr .5fr .5fr;
}
#contact_form input[type=text], #contact_form input[type=email]{
 border-radius: 5px;
   padding: 2%;
   border: 1px solid rgba(0,0,0,.1);
}
#contact_form input[type=text]:hover, #contact_form input[type=email]:hover{
  border:none;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  transition: all .3s;
}
#contact_email, #contact_form>.orange_button{
grid-column: 1/-1;
}
#contact_form>.orange_button{
 width: 40%;
 margin: 5% auto;
}
svg {
  fill: rgb(207, 205, 205);
}

#section_whatyouget_item_1 h3 {
  color: #ef6461;
  font-size: 1.4em;
}

#section_whatyouget_item_1 p {
  color: black;
}

#section_platform svg {
  width: 40%;
}

#section_platform_item_1 svg {
  fill: black;
}

#section_why_item_1 svg {
  fill: #ef6461;
}

#types_of_buildings h4 {
  display: inline-block;
}

#resedential {
  color: #ef6461;
  font-weight: bold;
}

#form {
  position: absolute;
  width: auto;
  height: 90%;
  background-color: aliceblue;
  top: 10%;
  left: 10%;
}

.imgForm {
  width: 55%;
}

.btnRadio {
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  padding: 1em;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 3fr 1fr;

  /* grid-template-columns: 3fr 1fr; */
  cursor: pointer;
  height: 5em;
  width: 20em;
  /* background-color: #0c0522; */
  /* border: 1px solid #545454; */
}
#buildingType input[type="radio"],
#projectType input[type="radio"] {
  display: none;
  -webkit-appearance: none;
}

#form {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

#next {
  float: right;
}
